/*  */
div{
color: rgb(227, 156, 14);
border: 10px solid black;
margin: 20px;
}

#xyz{
    color: blue;
    font-size: xx-large;
    /* padding: 30px; */
    /* padding-left: 30px; */
    padding-bottom: 2px;
}