/* h1{
    color: red;
    /* border: 13px solid rgb(234, 19, 19); */

 
 div{
    color: blueviolet;
    border: 15px solid green;
    /* margin: 30px;
    padding: 20px; */
} 

#john{
    padding-top: 40px;
}