main{
    color: red;
    font-size: xx-large;
    border: 6px solid green;
    
    display: flex;
    /* horizontal move */
    justify-content:flex-start;
    align-items: last baseline;
    height: 300px;
    width: 85%;
}

 div{
    margin: 20px;
    border: 3px dotted green;
    /* padding: 20px; */
    /* font-family: Arial, Helvetica, sans-serif; */
} 

#xyz{
    display: flex;
    color: rgb(46, 16, 218);
}